<div>
    <section id="intro">
        <div class="intro-content">
          <h2 id="txtlame">ROYALE GAMES #21</h2>
          <h3 id="txtlame2">La máxima experiencia en BlackJack</h3>
          <div>
            <h4>Inicia Sesión para jugar ahora</h4>
          </div>
        </div>
  </section>
  
  <section id="segunda-content">
    <br>
      <div class="row">
          <div class="col-md-4 offset-2">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor">
                  
                </i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">¿Qué es BlackJack?</h2>
                <p class="s-description text-center">
                  El blackjack, también llamado veintiuna1​ o veintiuno,
                  es un juego de cartas, propio de los casinos con una
                  o más barajas inglesas de 52 cartas sin los comodines,
                  que consiste en sumar un valor lo más próximo a 21 pero sin pasarse. 
                  En un casino cada jugador de la mesa juega únicamente contra el crupier,
                   intentando conseguir una mejor jugada que este.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Historia del BlackJack</h2>
                <p class="s-description text-center">
                  La veintiuna es un juego de origen desconocido, es
                  el precursor del Blackjack. La primera referencia
                  escrita sobre este juego está contenida en la obra
                  picaresca de Miguel de Cervantes, Rinconete y Cortadillo.
                  En ella se presenta a dos fulleros que malviven en la
                  ciudad española de Sevilla jugando a la veintiuna. 
                </p>
                  <p style="font-size: 2px;" class="text-center">
                      Ponganos 100 ing. porfa.
                  </p>

              </div>
            </div>
          </div>
        </div>
  </section>
</div>

<footer>

  <!-- Copyright -->
  <div id="txtfooter" class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> LAME UTT</a>
  </div>
  <!-- Copyright -->

</footer>

