<div>
    <section id="intro">
        <div class="intro-content">
          <h2 id="txtlame">ROYALE GAMES #21</h2>
          <h3 id="txtlame2">La máxima experiencia en BlackJack</h3>
          <div>
            <button class="btn btn-success btn-registro" [routerLink]="['/lobby']" routerLinkActive="router-link-active" >Juega Ahora</button>
          </div>
        </div>
  </section>
  
  <section id="segunda-content">
    <br>
      <div class="row">
          <div class="col-md-4 offset-2">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">POKER EN LINEA GRATIS</h2>
                <p class="s-description text-center">
                    ¡Juega al poker gratis en línea en Balas Cartas! 
                    ¡Comienza con 250,000 fichas de póquer gratis y comienza a jugar al
                    póquer en línea como un profesional! Los juegos de póquer están 
                    disponibles las 24 horas, los 7 días de la semana, siempre hay alguien
                    con quien jugar. ¡Compite para ganar tu propia pulsera WSOP en el juego
                    oficial de World Series of Poker!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">DINERO</h2>
                <p class="s-description text-center">
                    ¡Las mesas de póker de Texas Holdem te están esperando!
                    Juega al juego de póquer gratuito más auténtico del mundo. 
                    ¿Tienes lo que se necesita para convertirte en un campeón de Texas Holdem? 
                    Reproducir & amp; gana contra jugadores de todo el mundo e invita a tus
                    amigos a tu mesa.
                </p>
                <br>
                  <p style="font-size: 2px;">
                      Todo lo recaudado será gastado por LAJE
                  </p>

              </div>
            </div>
          </div>
        </div>
  </section>
</div>

<footer>

  <!-- Copyright -->
  <div id="txtfooter" class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> LAME UTT</a>
  </div>
  <!-- Copyright -->

</footer>

