<div>
    <section id="intro">
        <div class="intro-content">
          <h2 id="txtlame">LAME GAMES #21</h2>
          <h3 id="txtlame2">La máxima experiencia en BlackJack</h3>
          <div>
            <button class="btn btn-success btn-registro">Registrate Ahora</button>
          </div>
        </div>
  </section>
  
  <section id="content">
       <div class="">
         s
       </div><br>
       <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
      <div class="">
        s
      </div><br>
  </section>
</div>

<footer>

  <!-- Copyright -->
  <div id="txtfooter" class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> LAME UTT</a>
  </div>
  <!-- Copyright -->

</footer>

