<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Que ondaaaaaaaaaa
  </h1>
  <img width="300" alt="Angular Logo" src="https://i.ytimg.com/vi/ONudf6EzhFE/hqdefault.jpga">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Chinguen</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">A su</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Madre</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
