<div class="col-md-6 offset-md-3">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Sala : Esperando jugadores...</th>
        <th>Jugadores</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">666</td>
        <td>Lame games (3/4)</td>
        <td>El diez, Octa, Emma</td>
        <td rowspan="2">
          <div>
            <button type="button" class="btn btn-secondary form-control" style="display: block; margin-bottom: 2%;">Unirse al juego</button>
            <button type="button" class="btn btn-secondary form-control">Ver juego</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

