msj {
    position: relative;
    top: 45%;
    left: 35%;
    color: white;
    display: fluid;
}
#fondo{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('https://imgur.com/bUgJqBI.png') top center;
  background-size: cover;
}
.cartas{
  height: 20vh;
  margin-left: -40%;
}

#jugador1{
  width: 320px;
  height: 170px;
  margin-top: 30px;
  margin-left: 995px;

}
#jugador2{
  width: 330px;
  height: 170px;
  margin-top: -30px;
  margin-left: 666px;
}

#jugador3{
  width: 330px;
  height: 170px;
  margin-top: -170px;
  margin-left: 335px;
}
#jugador4{
  width: 320px;
  height: 170px;
  margin-top: -500px;
  margin-bottom: 150px;
  margin-left: -640px;
}
