msj {
    position: relative;
    top: 45%;
    left: 35%;
    color: white;
    display: fluid;
}
#fondo{
  width: 100%;
  height: 130vh;
  position: relative;
  background: url('https://i.imgur.com/VBaXzjM.png') top center;
  background-size: cover;
}
.cartas{
  height: 20vh;
}
